# Pandas进阶及技巧

## 1. 创建Pandas

In [1]:
import pandas as pd

country1 = pd.Series({'Name': '中国',
                    'Language': 'Chinese',
                    'Area': '9.597M km2',
                     'Happiness Rank': 79})

country2 = pd.Series({'Name': '美国',
                    'Language': 'English (US)',
                    'Area': '9.834M km2',
                     'Happiness Rank': 14})

country3 = pd.Series({'Name': '澳大利亚',
                    'Language': 'English (AU)',
                    'Area': '7.692M km2',
                     'Happiness Rank': 9})

df = pd.DataFrame([country1, country2, country3], index=['CH', 'US', 'AU'])

In [2]:
# 注意在jupyter中使用print和不使用print的区别
df
# print(df)

          Area  Happiness Rank      Language  Name
CH  9.597M km2              79       Chinese    中国
US  9.834M km2              14  English (US)    美国
AU  7.692M km2               9  English (AU)  澳大利亚

In [3]:
# 添加数据
# 如果个数小于要求的个数，会自动进行“广播”操作
# 如果大于要求的个数，会报错
# df['Location'] = '地球'
# print(df)

df['Region'] = ['亚洲', '北美洲', '大洋洲']
# print(df)
df

          Area  Happiness Rank      Language  Name Region
CH  9.597M km2              79       Chinese    中国     亚洲
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲

## 2. Pandas索引

In [5]:
# 行索引
print('loc:')
df.loc['CH']
print(type(df.loc['CH']))
print('iloc:')
print(df.iloc[0])

loc:
<class 'pandas.core.series.Series'>
iloc:
Area              9.597M km2
Happiness Rank            79
Language             Chinese
Name                      中国
Region                    亚洲
Name: CH, dtype: object

In [6]:
# 列索引
print(df['Area'])
print(type(df['Area']))

CH    9.597M km2
US    9.834M km2
AU    7.692M km2
Name: Area, dtype: object
<class 'pandas.core.series.Series'>

In [7]:
# 获取不连续的列数据
print(df[['Name', 'Area']])

    Name        Area
CH    中国  9.597M km2
US    美国  9.834M km2
AU  澳大利亚  7.692M km2

In [8]:
# 混合索引
# 注意写法上的区别
# print('先取出列，再取行：')
print(df['Area']['CH'])
print(df['Area'].loc['CH'])
print(df['Area'].iloc[0])

# print('先取出行，再取列：')
# print(df.loc['CH']['Area'])
# print(df.iloc[0]['Area'])

9.597M km2
9.597M km2
9.597M km2

In [9]:
# 转换行和列
print(df.T)

                        CH            US            AU
Area            9.597M km2    9.834M km2    7.692M km2
Happiness Rank          79            14             9
Language           Chinese  English (US)  English (AU)
Name                    中国            美国          澳大利亚
Region                  亚洲           北美洲           大洋洲

## 3. 删除数据

In [10]:
print(df.drop(['CH']))
# 注意drop操作只是将修改后的数据copy一份，而不会对原始数据进行修改
print(df)

          Area  Happiness Rank      Language  Name Region
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲
          Area  Happiness Rank      Language  Name Region
CH  9.597M km2              79       Chinese    中国     亚洲
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲

In [11]:
print(df.drop(['CH'], inplace=False))
# 如果使用了inplace=True，会在原始数据上进行修改，同时不会返回一个copy
print(df)

          Area  Happiness Rank      Language  Name Region
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲
          Area  Happiness Rank      Language  Name Region
CH  9.597M km2              79       Chinese    中国     亚洲
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲

In [12]:
#  如果需要删除列，需要指定axis=1
print(df.drop(['Area'], axis=1))
print(df)

    Happiness Rank      Language  Name Region
CH              79       Chinese    中国     亚洲
US              14  English (US)    美国    北美洲
AU               9  English (AU)  澳大利亚    大洋洲
          Area  Happiness Rank      Language  Name Region
CH  9.597M km2              79       Chinese    中国     亚洲
US  9.834M km2              14  English (US)    美国    北美洲
AU  7.692M km2               9  English (AU)  澳大利亚    大洋洲

In [13]:
# 也可直接使用del关键字
del df['Name']
print(df)

          Area  Happiness Rank      Language Region
CH  9.597M km2              79       Chinese     亚洲
US  9.834M km2              14  English (US)    北美洲
AU  7.692M km2               9  English (AU)    大洋洲

## 4. DataFrame的操作与加载

In [14]:
# 注意从DataFrame中取出的数据进行操作后，会对原始数据产生影响
ranks = df['Happiness Rank']
ranks += 2
print(ranks)
print(df)

CH    81
US    16
AU    11
Name: Happiness Rank, dtype: int64
          Area  Happiness Rank      Language Region
CH  9.597M km2              81       Chinese     亚洲
US  9.834M km2              16  English (US)    北美洲
AU  7.692M km2              11  English (AU)    大洋洲

In [15]:
# 注意从DataFrame中取出的数据进行操作后，会对原始数据产生影响
# 安全的操作是使用copy()
ranks = df['Happiness Rank'].copy()
ranks += 2
print(ranks)
print(df)

CH    83
US    18
AU    13
Name: Happiness Rank, dtype: int64
          Area  Happiness Rank      Language Region
CH  9.597M km2              81       Chinese     亚洲
US  9.834M km2              16  English (US)    北美洲
AU  7.692M km2              11  English (AU)    大洋洲

In [16]:
# 加载csv文件数据
reprot_2015_df = pd.read_csv('./2015.csv')
print('2015年数据预览：')
#print(reprot_2015_df.head())
reprot_2015_df.head()

2015年数据预览：

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [17]:
print(reprot_2015_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
Country                          158 non-null object
Region                           158 non-null object
Happiness Rank                   158 non-null int64
Happiness Score                  158 non-null float64
Standard Error                   158 non-null float64
Economy (GDP per Capita)         158 non-null float64
Family                           158 non-null float64
Health (Life Expectancy)         158 non-null float64
Freedom                          158 non-null float64
Trust (Government Corruption)    158 non-null float64
Generosity                       158 non-null float64
Dystopia Residual                158 non-null float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB
None

In [18]:
# 使用index_col指定索引列
# 使用usecols指定需要读取的列
reprot_2016_df = pd.read_csv('./2016.csv', 
                             index_col='Country',
                             usecols=['Country', 'Happiness Rank', 'Happiness Score', 'Region'])
# 数据预览
reprot_2016_df.head()

                     Region  Happiness Rank  Happiness Score
Country
Denmark      Western Europe               1            7.526
Switzerland  Western Europe               2            7.509
Iceland      Western Europe               3            7.501
Norway       Western Europe               4            7.498
Finland      Western Europe               5            7.413

In [26]:
print('列名(column)：', reprot_2016_df.columns)
print('行名(index)：', reprot_2016_df.index)

列名(column)： Index(['Region', 'Happiness Rank', 'Happiness Score'], dtype='object')
行名(index)： Index(['Denmark', 'Switzerland', 'Iceland', 'Norway', 'Finland', 'Canada',
       'Netherlands', 'New Zealand', 'Australia', 'Sweden',
       ...
       'Madagascar', 'Tanzania', 'Liberia', 'Guinea', 'Rwanda', 'Benin',
       'Afghanistan', 'Togo', 'Syria', 'Burundi'],
      dtype='object', name='Country', length=157)

In [ ]:
# 注意index是不可变的
reprot_2016_df.index[0] = '丹麦'

In [ ]:
# 重置index
# 注意inplace加与不加的区别
reprot_2016_df.reset_index().head()

In [1]:
# 重命名列名
reprot_2016_df.rename(columns={'Region': '地区', 'Hapiness Rank': '排名', 'Hapiness Score': '幸福指数'})
reprot_2016_df.head()

NameError: name 'reprot_2016_df' is not defined

In [ ]:
# 重命名列名，注意inplace的使用
reprot_2016_df.rename(columns={'Region': '地区', 'Happiness Rank': '排名', 'Happiness Score': '幸福指数'},
                     inplace=True)
reprot_2016_df.head()

## 5. Boolean Mask

In [ ]:
# 过滤 Western Europe 地区的国家
only_western_europe = reprot_2016_df['地区'] == 'Western Europe'
only_western_europe

In [ ]:
# 过滤 Western Europe 地区的国家
# 并且排名在10之外
only_western_europe_10 = (reprot_2016_df['地区'] == 'Western Europe') & (reprot_2016_df['排名'] > 10)
only_western_europe_10

In [ ]:
# 叠加 boolean mask 得到最终结果
reprot_2016_df[only_western_europe_10]

In [ ]:
# 熟练以后可以写在一行中
reprot_2016_df[(reprot_2016_df['地区'] == 'Western Europe') & (reprot_2016_df['排名'] > 10)]

## 6. 层级索引

In [ ]:
reprot_2015_df.head()

In [ ]:
# 设置层级索引
report_2015_df2 = reprot_2015_df.set_index(['Region', 'Country'])
report_2015_df2.head(20)

In [ ]:
# level0 索引
report_2015_df2.loc['Western Europe']

In [ ]:
# 两层索引
report_2015_df2.loc['Western Europe', 'Switzerland']

In [ ]:
# 交换分层顺序
report_2015_df2.swaplevel()

In [ ]:
# 排序分层
report_2015_df2.sort_index(level=0)

## 7. 数据清洗

In [22]:
log_data = pd.read_csv('log.csv')
log_data

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [23]:
log_data.set_index(['time', 'user'], inplace=True)
log_data.sort_index(inplace=True)
log_data

                           video  playback position paused  volume
time       user
1469974424 cheryl     intro.html                  5  False    10.0
           sue     advanced.html                 23  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
           sue     advanced.html                 24    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
           sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN

In [ ]:
log_data.fillna(0)

In [ ]:
log_data.dropna()

In [ ]:
log_data.ffill()

In [ ]:
log_data.bfill()